$base-bg: #c3cfe2;
$text-bg: #fff;
$footer-bg: #686de0;
$radius: 25px;
$padding: 20px;
$margin: 0.5em;
$height: 30%;
$font-size: 1.25em;
$maxwidth: 100%;
$icon-size: 1.5em;
$trans-time: 150ms;
$trans-function: linear;
$link-margin: 50px;
$link-font: 0.8em;
